<body>
  <div id="carousel">
    <div class="hideLeft">
      <div id="twitch-embed"></div>
      <script src="https://embed.twitch.tv/embed/v1.js"></script>
      <script type="text/javascript">
        new Twitch.Embed("twitch-embed", { width: 530, height: 300, channel: "pandara_tv", muted: false, theme: "dark", layout: "video", });
      </script>
    </div>

    <div class="prevLeftSecond">
      <div id="twitch-embed-2"></div>
      <script src="https://embed.twitch.tv/embed/v1.js"></script>
      <script type="text/javascript">
        new Twitch.Embed("twitch-embed-2", { width: 530, height: 300, channel: "schrodingerkitten", muted: false, theme: "dark", layout: "video", });
      </script>
    </div>

    <div class="prev">
      <div id="twitch-embed-3"></div>
      <script src="https://embed.twitch.tv/embed/v1.js"></script>
      <script type="text/javascript">
        new Twitch.Embed("twitch-embed-3", { width: 530, height: 300, channel: "onebakama", muted: false, theme: "dark", layout: "video", });
      </script>
    </div>

    <div class="selected">
      <div id="twitch-embed-4"></div>
      <script src="https://embed.twitch.tv/embed/v1.js"></script>
      <script type="text/javascript">
      new Twitch.Embed("twitch-embed-4", {width: 530, height: 300, channel: "schrodingerkitten", muted: false, theme: "dark", layout: "video",});
      </script>
    </div>

    <div class="next">
      <div id="twitch-embed-5"></div>
      <script src="https://embed.twitch.tv/embed/v1.js"></script>
      <script type="text/javascript">
      new Twitch.Embed("twitch-embed-5", {width: 530, height: 300, channel: "schrodingerkitten", muted: false, theme: "dark", layout: "video",});
      </script>
    </div>

    <div class="nextRightSecond">
      <div id="twitch-embed-6"></div>
      <script src="https://embed.twitch.tv/embed/v1.js"></script>
      <script type="text/javascript">
      new Twitch.Embed("twitch-embed-6", {width: 530, height: 300, channel: "schrodingerkitten", muted: false, theme: "dark", layout: "video",});
      </script>
    </div>

    <div class="hideRight">
      <div id="twitch-embed-7"></div>
      <script src="https://embed.twitch.tv/embed/v1.js"></script>
      <script type="text/javascript">
      new Twitch.Embed("twitch-embed-7", {width: 530, height: 300, channel: "schrodingerkitten", muted: false, theme: "dark", layout: "video",});
      </script>
    </div>

  </div>

  <div class="buttons">
    <button id="prev">Prev</button>
    <button id="next">Next</button>
  </div>

</body>

<style>
  html,
  body,
  main {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #6441A5;
  }

  #carousel {
    position: relative;
    height: 400px;
    top: 50%;
    transform: translateY(-50%);
    overflow: hidden;
  }

  #carousel div {
    position: absolute;
    transition: transform 1s, left 1s, opacity 1s, z-index 0s;
    opacity: 1;
  }

  #carousel div img {
    width: 400px;
    transition: width 1s;
  }

  #carousel div.hideLeft {
    left: 0%;
    opacity: 0;
    transform:  translateX(-50%);
  }

  #carousel div.hideLeft img {
    width: 200px;
  }

  #carousel div.hideRight {
    left: 100%;
    opacity: 0;
    transform: translateX(-50%);
  }

  #carousel div.hideRight img {
    width: 200px;
  }

  #carousel div.prev {
    z-index: 5;
    left: 30%;
    transform: translateX(-50%);
  }

  #carousel div.prev img {
    width: 300px;
  }

  #carousel div.prevLeftSecond {
    z-index: 4;
    left: 15%;
    transform:  translateX(-50%);
    opacity: .7;
  }

  #carousel div.prevLeftSecond img {
    width: 200px;
  }

  #carousel div.selected {
    z-index: 10;
    left: 50%;
    transform: translateX(-50%);
  }

  #carousel div.next {
    z-index: 5;
    left: 70%;
    transform: translateX(-50%);
  }

  #carousel div.next img {
    width: 300px;
  }

  #carousel div.nextRightSecond {
    z-index: 4;
    left: 85%;
    transform:  translateX(-50%);
    opacity: .7;
  }

  #carousel div.nextRightSecond img {
    width: 200px;
  }

  .buttons {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10px;
  }
</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script>
  function moveToSelected(element) {

    if (element == "next") {
      var selected = $(".selected").next();
    } else if (element == "prev") {
      var selected = $(".selected").prev();
    } else {
      var selected = element;
    }

    var next = $(selected).next();
    var prev = $(selected).prev();
    var prevSecond = $(prev).prev();
    var nextSecond = $(next).next();

    $(selected).removeClass().addClass("selected");

    $(prev).removeClass().addClass("prev");
    $(next).removeClass().addClass("next");

    $(nextSecond).removeClass().addClass("nextRightSecond");
    $(prevSecond).removeClass().addClass("prevLeftSecond");

    $(nextSecond).nextAll().removeClass().addClass('hideRight');
    $(prevSecond).prevAll().removeClass().addClass('hideLeft');

  }

  // Eventos teclado
  $(document).keydown(function (e) {
    switch (e.which) {
      case 37: // left
        moveToSelected('prev');
        break;

      case 39: // right
        moveToSelected('next');
        break;

      default: return;
    }
    e.preventDefault();
  });

  $('#carousel div').click(function () {
    moveToSelected($(this));
  });

  $('#prev').click(function () {
    moveToSelected('prev');
  });

  $('#next').click(function () {
    moveToSelected('next');
  });

</script>